:root {
  --border-radius: 20px;
}

button {
  border: none;
  border-radius: var(--border-radius);
  color: var(--secondary-color);
  background: linear-gradient(
    to bottom right,
    var(--background-dark) 40%,
    var(--background-light)
  );
  padding: 12px 3px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);

  span {
    background: white;
    border-radius: var(--border-radius);
    padding: 10px 20px;
  }

  &:hover {
    cursor: pointer;
    background: linear-gradient(
      to bottom right,
      var(--background-light) 40%,
      var(--background-dark)
    );
  }
}
