.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--main-color);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: var(--space-12);
  width: fit-content;
  padding: var(--space-24) var(--space-32);

  &__title {
    margin: 0 0 var(--space-24);
  }

  &__image {
    height: 100px;
    width: auto;
  }

  &__overview-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: var(--space-48) 0 var(--space-8);

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 var(--space-12);

      span {
        display: inline-flex;
        align-items: center;

        svg {
          margin: 0 var(--space-4) 0 0;
        }
      }
    }
  }

  &__button {
    margin: var(--space-48) 0 0;
  }
}
