@import './components/button.scss';
@import './components/form';
@import './components/headline';
@import './components/recipe-list';
@import './components/recipe-card';
@import './components/tag';
@import './abstracts/borders';
@import './base/typography';
@import './components/tag-list';
@import './abstracts/spaces';

$sinbad: #93cdd5;
$carissma: #ea8ebb;
$cotton: #fdf3ea;
$candy-apple: #a40000;

:root {
  --background-light: #{$sinbad};
  --background-dark: #{$carissma};
  --main-color: #{$cotton};
  --secondary-color: #{$candy-apple};
  --main-background: linear-gradient(
    63deg,
    var(--background-dark) 14%,
    var(--background-light) 80%
  );
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: var(--main-background);
  height: auto;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
}

form {
  display: grid;
  width: fit-content;
}

li {
  list-style: none;
}

svg {
  width: var(--space-24);
  height: var(--space-24);
}

.st0 {
  fill: none;
  stroke: #000000;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
